.card {
  width: min(698px, 99%);
  margin: 0 auto 50px auto;
  background-color: var(--card-background-color);
  border: 2px solid var(--accent-color);
}



.card__header {
  
  padding-block-start: 4px;
  padding-inline: 9px;
  padding-block-end: 4px;

  font-size: 18px;
  font-variation-settings: 
    'wght' var(--main-font-bold-weight),
    'wdth' 100,
    'opsz' 0;
  border-bottom: 2px solid var(--accent-color);
}

.card__image-container {
  position: relative;
}

.card__image-text {
  position: absolute;
  z-index: 1;
  opacity: 60%;
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--main-font-weight);
  font-size: 14px;
  text-shadow: 
    1px 0 0 var(--card-background-color),
    1px 0 0 var(--card-background-color),
    0 1px 0 var(--card-background-color),
    0 1px 0 var(--card-background-color),
    -1px 0 0 var(--card-background-color),
    -1px 0 0 var(--card-background-color),
    0 -1px 0 var(--card-background-color),
    0 -1px 0 var(--card-background-color);
  mix-blend-mode: hard-light;
  inset-inline-end: 10px;
  inset-block-start: 20px;

}
@supports ((text-stroke: 1px var(--card-background-color)) or (-webkit-text-stroke: 1px var(--card-background-color))) {
  .card__image-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--card-background-color);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  
  inline-size: 100%;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border-top: 2px solid var(--accent-color);
  
}

@media(width > 380px) {
  .card__body {
    gap: 6px;
  }
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-block-end: 21px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 
    'wght' var(--main-font-weight),
    'wdth' 100,
    'opsz' 0;
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  
}

.card__icon-button {
  
  position: relative;

  display: flex;
  align-items: center;
  border: none;

  outline: 2px solid transparent;
  outline-offset: -2px;
  background-color: transparent;
  block-size: 38px;

  cursor: pointer;
  

  
  .like-icon {

    .sparks {
      opacity: 0;
    }

  }

  .like-icon:hover {

    .core {
      fill: var(--icon-button-contour-color);
      transition: fill 0.3s 0.03s linear;
    }

    .main-body {
      fill: var(--icon-button-contour-color);
      transition: fill 0.3s 0.05s linear;
    }

  }

  .like-icon:active {

    .core {
      fill: var(--icon-button-fill-color);
      transition: fill 0.3s 0.03s linear;
    }

    .main-body {
      fill: var(--icon-button-fill-color);
      transition: fill 0.3s 0.05s linear;
    }

  }

  .like-icon.is-liked {

    .heart {
      animation: scaling 0.3s 0.1s ease-in reverse;
      animation-fill-mode: forwards;
    }

    .core {
      fill: var(--icon-button-fill-color);
      transition: fill 0.3s 0.03s linear;
    }

    .main-body {
      fill: var(--icon-button-fill-color);
      transition: fill 0.3s 0.05s linear;
    }

    .contour {
      fill: var(--icon-button-fill-color);
      transition: fill 0.3s 0.06s linear;
    }

    .sparks {
      animation: opaciting 0.3s 0.1s ease-in reverse;
    }

  }

  .like-icon:not(.is-liked) {
    .contour{
      fill: var(--icon-button-contour-color);
      transition: fill 0.1s linear;
    }
    
  }


}



.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: outline 0.3s;
  transition-timing-function: ease;
}

.card__like-button {
  padding: 10px 0;
  inline-size: 130px;
  block-size: 38px;

  display: flex;
  justify-content: center;

  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  cursor: pointer;
  
}

.standard-button {
  position: relative;
  border: 2px solid var(--accent-color);
  transition: box-shadow 0.5s;
  transition-timing-function: ease-in-out;
}

.standard-button:focus {
  outline: none;
}

.standard-button:focus-visible {
  box-shadow: 2px 2px 0 2px var(--accent-color);
}

.standard-button::before {
  content:'';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.standard-button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 2;
  display: block;
  color: var(--button-text-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: var(--card-main-font-weight);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}



