mixin header
  header.header
    span.header__title-accent(aria-hidden="true") &lt;/html&gt;
    br
    h1.header__title Закрывающий тег
    div.nav-menu-container
      nav.theme-menu.header__theme-menu
        //- Не меняйте разметку этого списка, иначе скрипты перестанут работать
        ul.theme-menu__list
          li.theme-menu__item
            button(type="button" data-theme="dark" class="theme-menu__button") Темно
          li.theme-menu__item
            button(type="button" data-theme="auto" disabled class="theme-menu__button") Авто
          li.theme-menu__item
            button(type="button" data-theme="light" class="theme-menu__button") Светло
