dialog.dialog(id="dialog")
  form.dialog__form(method="dialog")
    svg.dialog__image(viewBox="0 0 39 39")
      use(href="images/svg/floppy.svg#floppy")
    p.dialog__text Вставьте дискету, чтобы продолжить
    button.dialog__button.standard-button(type="submit")
      span.button__text ок
