mixin footer
  footer.footer.content-section
    button.footer__button.standard-button(type="button", onclick="window['dialog'].showModal()", aria-controls="dialog")
      svg.footer__button-image(viewBox="0 0 39 39")
        use(href="images/svg/floppy.svg#floppy")
      span.button__text Сохранить на память   