.footer {
  margin: 52px auto 100px;
  background-color: var(--background-color);
  max-inline-size: 314px;
}

.footer__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: transparent;
  transition: box-shadow 0.5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.footer__button:focus {
  outline: none;
}

.footer__button-image {
  position: relative;
  z-index: 2;
  color: var(--button-text-color);
  block-size: 28px;
  inline-size: auto;
  mix-blend-mode: difference;
}

@media (width > 380px) {
  .footer {
    max-inline-size: 340px;
  }

  .footer__button {
    flex-direction: row;
  }

  .footer__button-image {
    margin: 0 2px 0 19px;
    block-size: 20px;
  }
}
