@keyframes moving {
    from {
      inset-inline-start: -20px;
    }
  
    to {
      inset-inline-start: -16px;
    }
  }
  
  @keyframes scaling {
    from {
      transform: scale(1);
    }
    
    to {
      transform: scale(1.15);
    }
  }
  
  @keyframes opaciting {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
  
  @keyframes contour-offing {
    100% {
      fill: var(--icon-button-contour-color);
    }
  }

  