@keyframes moving {
    0% {
      inset-inline-start: -20px;
    }
  
    100% {
      inset-inline-start: -16px;
    }
  }
  
  @keyframes scaling {
    100% {
      transform: scale(1.5);
      transform-origin: center;
    }
  }
  
  @keyframes opaciting {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes contour-offing {
    100% {
      fill: var(--icon-button-contour-color);
    }
  }