.page {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--card-main-font-weight);
  background-color: var(--background-color);
  color: var(--accent-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin-block-start: 100px;

}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header {
  inline-size: min(698px, 99%);
  margin: 48px auto 100px auto;
  padding: 121px 0 17px 0;
  font-family: var(--accent-font);
  font-weight: var(--card-main-font-weight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.header__title {
  text-transform: uppercase;
  margin-block-end: 23px;
  font-size: clamp(14px, 2.5vw, 18px);
  justify-self: center;
}

.header__title-accent {
  text-transform: uppercase;
  text-decoration: none;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
  color: var(--accent-color);
}

.header__title-accent:focus {
  outline: none;
  box-shadow: none;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__item {
  font-weight: inherit;
  font-size: var(--header-menu-text-size);
  text-transform: uppercase;
}

.theme-menu__button {
  position: relative;
  border: none;
  outline: none;
  margin-left: 21px;
  margin-bottom: 7px;
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s;
  transition-timing-function: ease;
  opacity: 1;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--accent-color);
  opacity: 60%;
  transition: transform 0.5s, color 0.5s;
  transition-timing-function: ease;
  transform: scaleX(0);
  transform-origin: left;
  block-size: 3px;
  inline-size: 100%;
  inset-block-end: -3px;
  inset-inline-start: 0;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  color: var(--accent-color);
  opacity: 60%;
  animation: moving 0.5s infinite ease-in-out reverse;
  inset-inline-start: -20px;
}

.theme-menu__button:disabled::after {
  content: none;
}

.card {
  width: min(698px, 99%);
  margin: 0 auto 50px auto;
  background-color: var(--card-background-color);
  border: 2px solid var(--accent-color);
}

.card__header {
  padding-block-start: 4px;
  padding-inline: 9px;
  padding-block-end: 4px;
  font-size: 18px;
  font-variation-settings: "wght" var(--main-font-bold-weight), "wdth" 100, "opsz" 0;
  border-bottom: 2px solid var(--accent-color);
}

.card__image-container {
  position: relative;
}

.card__image-text {
  position: absolute;
  z-index: 1;
  opacity: 60%;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  text-shadow: 1px 0 0 var(--card-background-color), 1px 0 0 var(--card-background-color), 0 1px 0 var(--card-background-color), 0 1px 0 var(--card-background-color), -1px 0 0 var(--card-background-color), -1px 0 0 var(--card-background-color), 0 -1px 0 var(--card-background-color), 0 -1px 0 var(--card-background-color);
  mix-blend-mode: hard-light;
  inset-inline-end: 10px;
  inset-block-start: 20px;
}

@supports (text-stroke: 1px var(--card-background-color)) or (-webkit-text-stroke: 1px var(--card-background-color)) {
  .card__image-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--card-background-color);
    text-stroke: 1px var(--card-background-color);
  }
}

.card__image {
  display: block;
  object-fit: cover;
  inline-size: 100%;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border-top: 2px solid var(--accent-color);
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-block-end: 21px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: end;
}

.card__icon-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 5px;
  
  border: none;
  outline: 2px solid transparent;
  outline-offset: -2px;
  background-color: transparent;
  block-size: 36px;
  inline-size: 39px;
  padding: 0;
  
}

.card__icon-button .like-icon .heart {
  transform-origin: center;
}

.card__icon-button .like-icon .contour {
  fill: var(--icon-button-contour-color);
  transition: fill 0.1s linear;
}

.card__icon-button .like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button .like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button .like-icon .sparks {
  opacity: 0;
}

.card__icon-button .like-icon:hover .core {
  fill: var(--icon-button-contour-color);
  transition: fill 0.3s linear;
}

.card__icon-button .like-icon:hover .main-body {
  fill: var(--icon-button-contour-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button .like-icon:active .core {
  fill: var(--icon-button-fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button .like-icon:active .main-body {
  fill: var(--icon-button-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button .like-icon.is-liked .heart {
  animation: scaling 0.3s 0.1s ease-in 1 alternate;
  animation-fill-mode: backwards; 
}

.card__icon-button .like-icon.is-liked .core {
  fill: var(--icon-button-fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button .like-icon.is-liked .main-body {
  fill: var(--icon-button-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button .like-icon.is-liked .contour {
  fill: var(--icon-button-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.card__icon-button .like-icon.is-liked .sparks {
  animation: opaciting 0.3s 0.3s ease-in 1 alternate;
}

.card__icon-button .like-icon:not(.is-liked) .contour {
  fill: var(--icon-button-contour-color);
  transition: fill 0.1s linear;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  transition: outline 0.3s;
  transition-timing-function: ease;
}

.card__like-button {
  padding: 10px 0;
  inline-size: 130px;
  block-size: 38px;
  display: flex;
  justify-content: center;
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
 
}

.standard-button {
  position: relative;
  border: 2px solid var(--accent-color);
  transition: box-shadow 0.5s;
  transition-timing-function: ease-in-out;
}

.standard-button:focus {
  outline: none;
}

.standard-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s;
  transition-timing-function: ease;
}

.standard-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.standard-button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 2;
  display: block;
  color: var(--button-text-color);
  font-family: var(--accent-font);
  font-weight: var(--card-main-font-weight);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.save__button {

  margin: 52px auto 100px;
  background-color: var(--background-color);
  max-inline-size: 314px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  transition: box-shadow 0.5s;
  transition-timing-function: ease-in-out;
  
}

.save__button:focus {
  outline: none;
}

.save__button-image {
  position: relative;
  z-index: 2;
  color: var(--button-text-color);
  block-size: 28px;
  inline-size: auto;
  mix-blend-mode: difference;
}

.dialog[open] {
  border: 2px solid var(--accent-color);
  padding: 30px 40px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--card-main-font-weight);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: var(--background-color);
  transition: opacity 0.3s ease-in-out;
  max-inline-size: 342px;
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__form {
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 30px;
  
}

.dialog__image {
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__text {
  margin-inline-start: 8px;
}

.dialog__button {
  grid-column: 1/4;
  grid-row: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  text-transform: uppercase;
  background-color: var(--background-color);
}

.dialog::backdrop {
  background-color: #000000;
  opacity: 75%;
}

.filter__bright {
  filter: brightness(130%);
}

.filter__blur {
  filter: blur(2px);
}

.filter__gray {
  filter: grayscale(1);
}

.filter__sepia {
  filter: sepia(100%);
}

.filter__invert {
  filter: invert(1);
}

.filter__saturate {
  filter: saturate(150%);
}

.filter__mixed {
  filter: saturate(300%) hue-rotate(45deg) invert(0.2);
}

.filter__opacity-saturate {
  filter: opacity(0.3) saturate(200%);
}

@media (width > 380px) {
  .header {
    margin-block-start: 33px;
    
  }
  .header__title {
    font-size: clamp(18px, 2.5vw, 23px);
    margin-block-start: 16px;
  }

  .header__title-accent {
    margin-block-start: 15px;
    margin-block-end: 4px;
  }

  .card__body {
    gap: 6px;
  }

  .save__button {
    max-inline-size: 340px;
    flex-direction: row;
  }

  .save__button-image {
    margin: 0 2px 0 19px;
    block-size: 20px;
  }

  .dialog[open] {
    padding: 32px 28px;
    max-inline-size: 354px;
  }
  
  .dialog__form {
    inline-size: 293px;
  }
  
  .dialog__text {
    margin-inline-start: 0;
  }
  
  .dialog__button {
    padding: 9px 0;
  }
  
}